{% extends 'base.html.twig' %}

{% block title %}New CommandeStatut{% endblock %}

{% block body %}
    <h1>Create new CommandeStatut</h1>

    {{ include('commande_statut/_form.html.twig') }}

    <a href="{{ path('app_commande_statut_index') }}">back to list</a>
{% endblock %}
